.page {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    padding-bottom: 7.5rem;
    justify-content: center;
    align-items: center;
    height: auto;
    position: relative;
    flex-grow: 1;
    /* width: 100%; */
}

.controls {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    /* justify-content: space-between; */
    align-items: center;
    gap: 1rem;
    /* margin: 0 0rem; */
    width: 68vw;
    padding: 4em 0em 7.5em 0em;
}

.mountains {
    position: absolute;
    top: 24em;
    right: 6.2em;
}

.outlineTrees {
    position: absolute;
    bottom: -18em;
    right: 6em;
}

.lineTrees {
    position: absolute;
    bottom: -4em;
    left: 6em;
}

@media (1px < width < 480px) {
    .controls {
        margin: 0rem 0rem;
        gap: 1rem;
        width: 90vw;
    }

    .outlineTrees {
        display: none;
    }

    .lineTrees {
        display: none;
    }

    .mountains {
        display: none;
    }
}

@media (479px < width < 768px) {
    .controls {
        margin: 0rem 0rem;
        gap: 1rem;
        width: 90vw;
    }

    .outlineTrees {
        display: none;
    }

    .lineTrees {
        display: none;
    }

    .mountains {
        display: none;
    }
    .container {
        margin: 0rem 0rem;
    }
}

@media (767px < width < 992px) {
    .controls {
        margin: 0rem 0rem;
        gap: 1rem;
        width: 80vw;
    }

    .outlineTrees {
        display: none;
    }

    .lineTrees {
        display: none;
    }

    .mountains {
        display: none;
    }
    .container {
        margin: 0rem 0rem;
    }
}

@media (min-width: 991px) {
}

