* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid seagreen !important;
    background: rgb(0, 100, 0 / 0.1) !important;
}

html, body {
    background-color: #F0E7D3;
    width: 100%;
}

button {
    background: none;
    border: none;
}

