.container {
    height: 60vh;
}

.weatherBar {
    position: absolute;
    top: 4em;
    z-index: 3;
    width: 100%;
}

@media (1px < width < 480px) {
    .weatherBar {
        position: absolute;
        top: 2em;
}
}

@media (479px < width < 768px) {

}

@media (767px < width < 992px) {

}

@media (min-width: 991px) {

}